/*tags*/

body{
  font-weight: 300;
  line-height: 1em;
}

h1, h2, h3, h4, h5 {
  color: rgba(255,255,255,0.7);
  font-family: 'Roboto', sans-serif;
}

p {
  color: rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration:  none;
  color: rgba(255,255,255,0.8);
  opacity: 0.7;
}

a:hover  {
  opacity: 1;
}

/*class*/

.indent-text {
  margin: 2px;
}

.img-rounding img {
  border-radius: 4px;
}

.container {
  margin: 30px auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 10px;
  border-radius: 4px;
}

.card {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 7px auto;
  margin-left: auto;
  margin-right: auto;
}

.card a {
  font-size: 18px;
  font-weight: 700;
  }

.subcard {
  width: 90%;
  margin: 10px 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 2px;
}

.list-inline {
  padding-left: 0px;
}

.bg-color-1 {
background: #11151C
}

.bg-color-2 {
background: #212D40
}

.bg-color-3 {
 background: #083D77
}

.bg-color-4 {
 background: #DA4167
}

.bg-color-5{
 background: #FDA831;
}

.text-large{
 color: rgba(35, 45, 62,0.7);
 font-size: 17px;
 font-weight: 700;
 line-height: 2em;
 margin: 10px
}

.text-small{
 font-size: 13px;
}

/*media class*/
@media (max-width: 3000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .card {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 450px;
  }
  .card {
    width: 400px;
  }
}
