/*tags*/

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1em;
}

h1 {
  color: rgba(255,255,255,0.7);
  font-family: 'Roboto', sans-serif;
}

h2, h3, p {
  color: rgba(255,255,255,0.7);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration:  none;
  color: rgba(255,255,255,0.8);
  opacity: 0.7;
}

a:hover  {
  opacity: 1;
}

/*class*/

.bold {
  font-weight: 600;
}

.img-rounding img {
    border-radius: 4px;
}

.container {
  margin: 7px auto;
  margin-left: 5px;
  margin-right: auto;
  padding: 3px 10px;
  border-radius: 4px;
}

.card {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 7px auto;
  margin-left: auto;
  margin-right: auto;
}

.subcard {
  width: 90%;
  margin: 10px 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.bg-color-1 {
background: #11151C
}

.bg-color-2 {
background: #212D40
}

.bg-color-3 {
 background: #083D77
}

.bg-color-4 {
 background: #DA4167
}

.bg-color-5{
 background: #F4D35E;
}

/*media class*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .card {
    width: 400px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .card {
    width: 300px;
  }
}
@media (max-width: 440px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
